@import "tailwindcss";

@theme {
  --color-primary: #0d244f;
  --color-primary-contrast: #ffffff;
  --color-secondary: #3b82f6;
  --color-secondary-contrast: #ffffff;
}

html {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}
