<section>
  <h3>FUNCIONALIDADES SEGÚN EL TIPO DE UUSARIO</h3>

  <ul>
    <li>
      <div>img</div>
      <div>
        <h5>Dueños</h5>
        <p>
          Gestiona múltiples mascotas, recibe notificaciones importantes y obtén
          recomendaciones para el cuidado de tus mascotas.
        </p>
      </div>
    </li>

    <li>
      <div>img</div>
      <div>
        <h5>Mascotas</h5>
        <p>
          Perfiles detallados ocn la información mpedica, hábitos y necesidades
          específicas.
        </p>
      </div>
    </li>

    <li>
      <div>img</div>
      <div>
        <h5>Veterinarios / Clínicas</h5>
        <p>
          Acceso a historiales médicos, gestión de citas y recordatorios
          automatizados.
        </p>
      </div>
    </li>
  </ul>
</section>
