---
import Slide from "./Slide.astro";
---

<Slide>
  <div class="grid grid-cols-1 items-center justify-items-center">
    <div
      class="row-span-2 bg-primary flex h-60 w-60 sm:w-80 sm:h-80 md:w-96 md:h-96 items-end justify-center
  rounded-full text-center"
    >
      <h1 class="text-secondary text-2xl sm:text-4xl font-bold">
        ¿QUÉ ES PET GUARDIAN
      </h1>
    </div>

    <div class="px-10 row-span-6">
      <section>
        <h2 class="text-secondary text-2xl font-bold">
          PUNTO DE ENCUENTRO ENTRE VETERINARIOS, DUEÑOS Y MASCOTAS
        </h2>
        <p class="text-secondary">
          Pet Guardian es una innovadora aplicación diseñada para centralizar y
          simplificar la gestión de información de mascotas, beneficiando a
          dueños, veterinarios y clínicas. Su objetivo es mejorar el cuidado
          animal mediante un acceso rápido y organizado a historiales médicos,
          calendarios de seguimiento y herramientas de comunicación,
          garantizando que las mascotas reciban la atención adecuada en todo
          momento.
        </p>
      </section>
    </div>

    <div class="w-full row-span-5">
      <div class="bg-amber-500 h-20 w-full">a</div>
    </div>
    <!-- <div
    class="bg-primary flex h-60 w-60 sm:w-80 sm:h-80 md:w-96 md:h-96  sm: md: items-end justify-center
  rounded-full text-center"
  >
    <h1
      class="text-secondary mb-10 sm:mb-14 md:mb-20 text-2xl sm:text-4xl font-bold"
    >
      ¿QUÉ ES PET GUARDIAN
    </h1>
    
  </div>

  <div class="px-10  sm: md:">
    <section>
      <h2 class="text-secondary mb-20 text-2xl font-bold">
        PUNTO DE ENCUENTRO ENTRE VETERINARIOS, DUEÑOS Y MASCOTAS
      </h2>
      <p class="text-secondary">
        Pet Guardian es una innovadora aplicación diseñada para centralizar y
        simplificar la gestión de información de mascotas, beneficiando a
        dueños, veterinarios y clínicas. Su objetivo es mejorar el cuidado
        animal mediante un acceso rápido y organizado a historiales médicos,
        calendarios de seguimiento y herramientas de comunicación, garantizando
        que las mascotas reciban la atención adecuada en todo momento.
      </p>
    </section>

    <div class="w-full">
      <div class="bg-amber-500 h-full w-full">a</div>
    </div>
  </div> -->
  </div>
</Slide>
