---
import Card from "./Card.astro";
---

<section class="m-6 flex flex-col gap-6">
  <h2 class="text-primary text-center text-3xl font-bold">
    ¿Por qué elegirnos?
  </h2>
  <div
    class="grid grid-cols-1 place-items-center gap-4 md:grid-cols-3 md:flex-row"
  >
    <Card
      icon="ICON"
      title="Para dueños"
      description="Gestiona el historial médico completo tu mascota, recibe alertas personalizadas y accede a profesionales cercanos."
    />

    <Card
      icon="ICON"
      title="Para clínicas"
      description="Optimiza la gestión de pacientes con registros centralizados, programación inteligente y comunicación automática."
    />

    <Card
      icon="ICON"
      title="Para tu mascota"
      description="Registros médicos precisos que facilitan la prevención proactiva y aseguran el mejor cuidado posible."
    />
  </div>
</section>
