---
import { Image } from "astro:assets";
import Button from "./Button.astro";
import logo from "../assets/img/logo50x50.png";
---

<header
  class="relative flex flex-row items-center justify-between overflow-hidden p-4 px-6 shadow-md md:justify-center"
>
  <h1
    class="text-primary flex flex-row items-center justify-center gap-2 text-[1.25rem] font-bold md:text-2xl"
  >
    <Image src={logo} alt="Logo de Pet Guardian" width={50} height={50} />
    Pet Guardian
  </h1>

  <div class="md:absolute md:right-6">
    <Button id="goToRegister">Regístrate</Button>
  </div>
</header>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const goToRegisterButton = document.getElementById("goToRegister");
    if (goToRegisterButton) {
      goToRegisterButton.addEventListener("click", function () {
        const registerSection = document.getElementById("register");
        if (registerSection) {
          registerSection.scrollIntoView({ behavior: "smooth" });
        }
      });
    }
  });
</script>
