---

---

<main>
  <h1>PET GUARDIAN</h1>
  <h2>LA APLICACIÓN PERFECTA PARA TU MASCOTA</h2>
  <h3>¿QUÉ ES PET GUARDIAN?</h3>
  <p>
    Pet Guardian es el punto de encuentro para veterinarios, dueños y mascotas.
    Nuestra misión es mejorar el cuidado animal, ofreciendo acceso organizado a
    historiales médicos y herramientas de comunicación eficientes.
  </p>
</main>
